* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.histories-bar {
    background-color: orange;
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.histories {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.histories a {
    /* background-color: brown; */
    width: 100%;
    padding: 50px 0;
}

.camera-preview {
    height: 200px;
    width: 100%;
    background-color: brown;
    border-radius: 10px;
}

.camera-preview video,
.camera-preview canvas {
    transform: scaleX(-1);
}

.camera-preview {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: brown;
    border-radius: 10px;
    overflow: hidden;
}

.camera-preview video,
.camera-preview canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* lật cam trước */
}

.histories {
    width: 100%;
    flex: 1;
    background-color: cadetblue;
}

.main {
    height: 100%;
    flex: 1;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}

.main .messages {
    flex: 1;
}

.inp-message {
    background-color: deeppink;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-box {
    background-color: #fff;
    height: 70px;
    width: 90%;
    border-radius: 40px;
    display: flex;
}

#inp-message {
    height: 100%;
    /* width: 90%; */
    flex: 1;
    padding: 10px 25px;
    font-size: larger;
    outline: none;
    border: none;
    border-radius: 40px;
    /* background-color: aquamarine; */
}

.btn-message {
    font-weight: bolder;
    font-size: larger;
    /* background-color: dodgerblue; */
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.btn-message:hover {
    background-color: dodgerblue;
    color: #fff;
}

.messages {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
}

.message {
    background-color: #ccc;
    width: fit-content;
    padding: 20px;
    border-radius: 30px;
    max-width: 60%;
}

.message.me {
    background-color: #60b0ff;
    align-self: flex-end;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
